<div style="display: flex;">
    <div style="width: 30vw;">
        <div class="card">
            <h1><strong>Configuración</strong></h1>
            <br><br>
            <kendo-dropdownlist 
                [data]="tables"
                textField="name"
                valueField="_id"
                [(ngModel)]="selectedTable"
                (valueChange)="selectTable()"
            ></kendo-dropdownlist>
        </div>        
    </div>
    <div style="width: 70vw; padding-left: 2rem;">
        <div class="card">
            <h1><strong>Datos</strong></h1>
            <br><br>
            <kendo-grid
                [kendoGridBinding]="gridData"
                >
                <kendo-grid-column
                    *ngFor="let column of columns"
                    field="{{ column.header }}"
                    title="{{ column.header }}"
                ></kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>
